$primary: #f546aa;
$primary-text: white;
$primary-light: #ffe9f6;

$secondary: #f762b7;
$secondary-text: white;
$secondary-light: #f499cc;

$tertiary: #f546aa;
$tertiary-text: white;
$tertiary-light: #ffe9f6;

$black: #ffe9f6;
$white: white;